h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.submit-btn__icon, .close-button__close-icon, .clients-list__icon, .soc-links__icon, .contacts__icon {
  fill: currentColor;
}

.projects-set, .portfolio-nav, .adress-list, .mobile-soc-links, .mobile-contacts, .mobile-site-nav, .clients-list, .soc-links, .team-list, .about-list, .features-list, .site-nav, .contacts {
  padding: 0;
  margin: 0;
  list-style: none;
}

.projects-set__link, .adress-list__link, .mobile-contacts__phone-link, .mobile-contacts__mail-link, .mobile-site-nav__link, .header__nav .site-nav__link, .contacts__link, .logo {
  text-decoration: none;
}

.submit-btn, .hero__btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.portfolio__title, .custom-checkbox__input, .features__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clients__main-title, .team__main-title, .main-title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

.projects-set__text, .projects-set__link, .portfolio-nav__btn, .subscr-form__input, .adress-list__link, .modal-form__submit-btn, .custom-checkbox__icon, .custom-checkbox__border, .input-wrap__input, .input-wrap__icon, .modal-form__comment, .modal__close-button, .modal, .backdrop, .clients-list__link, .soc-links__link, .header__nav .site-nav__link--no-current::after, .header__nav .site-nav__link, .contacts__link {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__word-web {
  color: #2196f3;
}

.logo__word-studio {
  color: #000000;
}
.logo__word-studio--inverse {
  color: #ffffff;
}

.header_logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header_logo {
    margin-right: 87px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header_logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header {
  border-bottom: 1px solid #ececec;
}

@media (max-width: 767.5px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 767.5px) {
  .header__container {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767.5px) {
  .site-nav {
    display: none;
  }
}
@media screen and (max-width: 767.5px) {
  .header__contacts {
    display: none;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: currentColor;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
  }
  .header__contacts {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:first-child) {
    margin-left: 30px;
  }
}
.contacts__icon {
  margin-right: 10px;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}
.header__nav .site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}
.header__nav .site-nav__link:hover, .header__nav .site-nav__link:focus {
  color: #2196f3;
}
.header__nav .site-nav__link--current {
  color: #2196f3;
}
.header__nav .site-nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: -2px;
  content: "";
  display: block;
  width: calc(100% + 4px);
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
.header__nav .site-nav__link--no-current::after {
  position: absolute;
  bottom: -1px;
  left: -2px;
  content: "";
  display: block;
  width: calc(100% + 4px);
  height: 4px;
  transform: scaleX(0);
  background-color: #2196f3;
  border-radius: 2px;
}
.header__nav .site-nav__link:hover.site-nav__link--no-current::after, .header__nav .site-nav__link:focus.site-nav__link--no-current::after {
  transform: scaleX(1);
}

.site-nav__item {
  position: relative;
}
.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Mobile-images/Hero-img-optim-480.jpg");
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Mobile-images/Hero-img-optim-960.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Tablet-images/Hero-img-768-min.jpg");
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Tablet-images/Hero-img-1536-min.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Desktop-images/Hero-img-1600-min.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Desktop-images/Hero-img-3200-min.jpg");
  }
}
.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 24px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.features-list__box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-list__text {
  font-size: inherit;
  line-height: 1.71;
}

@media screen and (max-width: 767.5px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features-list__title {
    text-align: center;
  }
}
.features-list__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .features-list__item {
    width: calc((100% - 30px) / 2);
  }
  .features-list__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    gap: 30px;
  }
  .features-list__item {
    width: calc((100% - 90px) / 4);
  }
  .features {
    padding-bottom: 0px;
  }
}
.about {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: flex;
  }
}

.about__main-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
}

.about-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-list__item {
  position: relative;
}

.about-list__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__main-title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__main-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767.5px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-list__card {
  padding: 30px 0 24px;
}
@media screen and (min-width: 1200px) {
  .team-list__card {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.soc-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-links__item {
  width: 44px;
  height: 44px;
}
.soc-links__item:not(:first-child) {
  margin-left: 10px;
}

.soc-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border-radius: 50%;
}
.soc-links__link:hover, .soc-links__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.soc-links__link--white {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.clients__main-title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__main-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}

.clients-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.clients-list__link:hover, .clients-list__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

@media screen and (min-width: 768px) {
  .clients-list {
    gap: 30px;
    justify-content: center;
  }
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
}
.footer {
  background-color: #2f303a;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__adress-box {
  text-align: center;
}
@media screen and (max-width: 767.5px) {
  .footer__adress-box {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__adress-box {
    text-align: left;
    margin-right: 70px;
  }
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .footer__text {
    text-align: center;
  }
}

@media screen and (max-width: 767.5px) {
  .footer__soc-links {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767.5px) and (min-width: 1200px) {
  .footer__soc-links {
    align-items: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__subscr {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscr {
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .footer_conacts-set {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer_conacts-set {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px 94px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__close-button:hover, .modal__close-button:focus {
  color: #2196f3;
}

.modal__text {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
}

.modal-form__field {
  display: flex;
  flex-direction: column;
}
.modal-form__field:nth-child(-n+3) {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal-form__comment:hover, .modal-form__comment:focus {
  border-color: #2196f3;
}
.modal-form__comment::-moz-placeholder {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::placeholder {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  position: relative;
  z-index: 1;
}

.input-wrap__icon {
  fill: #212121;
  position: absolute;
  z-index: -1;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.input-wrap__input:hover + .input-wrap__icon, .input-wrap__input:focus + .input-wrap__icon {
  fill: #2196f3;
}

.input-wrap__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}
.input-wrap__input:hover, .input-wrap__input:focus {
  border-color: #2196f3;
}

.custom-checkbox-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .custom-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.custom-checkbox__input {
  position: absolute;
}

.custom-checkbox__border {
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  color: transparent;
}
.custom-checkbox:focus-within .custom-checkbox__border, .custom-checkbox:hover .custom-checkbox__border {
  border-color: #2196f3;
}
.custom-checkbox__input:checked + .custom-checkbox__border {
  background-color: #2196f3;
  border: none;
  color: #ffffff;
}

.custom-checkbox__icon {
  fill: currentColor;
}

.custom-checkbox__link {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  margin-left: 4px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .footer__submit-btn {
    margin-left: 12px;
  }
}
.modal-form__submit-btn {
  margin: 0 auto;
}
.modal-form__submit-btn:hover, .modal-form__submit-btn:focus {
  background-color: #188ce8;
}

.submit-btn__icon {
  margin-left: 10px;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: #212121;
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-site-nav {
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-site-nav__link {
  color: currentColor;
}

.mobile-site-nav__link--current {
  color: #2196f3;
}

.mobile-site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-site-nav__link:hover,
.mobile-site-nav__link:focus {
  color: #2196f3;
}

.mobile-contacts__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-contacts__phone-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-contacts__item:first-child {
  margin-bottom: 32px;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-soc-links {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-soc-links_item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-soc-links_link {
  display: block;
}

.footer__adress {
  max-width: 480px;
}

.adress-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.adress-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: inherit;
  line-height: 1.71;
}
.adress-list__link--light {
  color: #ffffff;
}
.adress-list__link:hover, .adress-list__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .subscr-form {
    display: flex;
  }
}

.subscr-form__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  cursor: pointer;
}
.subscr-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscr-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscr-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscr-form__input:hover, .subscr-form__input:focus {
  border-color: #2196f3;
}
@media screen and (max-width: 1199px) {
  .subscr-form__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscr-form__input {
    width: 358px;
  }
}

.portfolio-nav__item:first-child .portfolio-nav__btn {
  padding: 6px 25px;
}

.portfolio-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (max-width: 767.5px) {
  .portfolio-nav {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
    max-width: 340px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-nav {
    gap: 8px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-nav {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767.5px) {
  .portfolio-nav {
    gap-bottom: 15px;
  }
}

.portfolio-nav__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: inherit;
  text-align: center;
}
.portfolio-nav__btn--active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-nav__btn:hover, .portfolio-nav__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .projects-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.projects-set__label {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects-set__name {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-set__type {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

@media screen and (max-width: 767.5px) {
  .projects-set__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.projects-set__item {
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .projects-set__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects-set__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.projects-set__link {
  display: block;
}
.projects-set__link:hover, .projects-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-set__box {
  position: relative;
  overflow: hidden;
}

.projects-set__text {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
}
.projects-set__link:hover .projects-set__text, .projects-set__link:focus .projects-set__text {
  transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-set__label--big {
    padding-bottom: 56px;
  }
}/*# sourceMappingURL=main.css.map */