.projects-set {
	@extend %list;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
}

.projects-set__label {
	padding: 20px 24px;
	border: 1px solid $cards-border-color;
	border-top: none;
}

.projects-set__name {
	margin-bottom: 4px;

	color: $title-text-color;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.projects-set__type {
	color: $primary-text-color;
	font-size: 16px;
	line-height: 1.88;
}

@media screen and (max-width: 767.5px) {
	.projects-set__item:not(:last-child) {
		margin-bottom: 30px;
	}
}

.projects-set__item {
	@media screen and (min-width: 768px) {
		width: calc((100% - 30px) / 2);
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 60px) / 3);
	}

	background-color: $main-background-color;
}

.projects-set__link {
	@extend %link;

	display: block;

	@extend %transition;

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.projects-set__box {
	position: relative;

	overflow: hidden;
}

.projects-set__text {
	position: absolute;

	display: flex;
	align-items: center;

	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;

	padding-left: 24px;
	padding-right: 24px;

	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;

	color: $third-text-color;

	background-color: $project-set-card-background-color;

	transform: translateY(101%);

	@extend %transition;

	.projects-set__link:hover &,
	.projects-set__link:focus & {
		transform: translateY(0);
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.projects-set__label--big {
		padding-bottom: 56px;
	}
}
