//ОСНОВНІ КОЛЬОРИ
$primary-text-color: #757575;
$title-text-color: #212121;
$mobile-nav-text-color: #212121;
$accent-color: #2196f3;
$accent-button-text-color: #ffffff;
$second-text-color: rgba(255, 255, 255, 0.6);
$secondary-background-color: #f5f4fa;
$third-text-color: #ffffff;
$third-background-color: #2f303a;
$main-background-color: #ffffff;
$header-border-line-color: #ececec;
$cards-border-color: #eeeeee;
$hero-background-color: #c4c4c4;
$company-list-color: #afb1b8;
$company-list-color-border: #afb1b8;
$team-soc-link-color: #afb1b8;
$modal-btn-submit-focus-color: #188ce8;
$logo-first-color: #2196f3;
$logo-second-color: #000000;
$logo-second-color-inverse: #ffffff;
$futures-images-background-color: #f5f4fa;
$mobile-munu-soc-links-color: #2196f3;
$menu-toggle-color: #212121;

$form-input-icon-color: #212121;

$backdrop-color: rgba(0, 0, 0, 0.2);

$border-form: 1px solid rgba(33, 33, 33, 0.2);

$modal-textarea-placeholder-color: rgba(117, 117, 117, 0.5);

$project-set-card-background-color: rgba(33, 150, 243, 0.9);

$main-font-family: Roboto, sans-serif;
$main-letter-spacing: 0.03em;
$main-font-size: 14px;

$second-font-family: "Raleway", sans-serif;

$main-border-radius: 4px;
